*{
    margin: 0px;
    padding: 0px;
}

.button_bar{
    /* background-color: aqua; */
    padding: 30px;
    text-align: center;
}

.add_button{
    background-color: aqua;
    text-decoration: none; /*to remove the underline on the link*/
    padding: 10px;
    font-weight: bold;
    border-style: solid;
    border-color:aqua;
    border-radius: 10px;
    color: black;
}

.add_button:hover{
    color:white;
    background-color: green;
    border-color: green;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}


.container_posts{
    padding: 0px;
    /* background-color: greenyellow; */
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap; /* shrinks page and puts the card 1 row at a time */
}

#post{
    margin:15px;
    height: 300px;
}

.detail_overflow{
    max-height:150px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}


.ufo{
    height: 10px;
}

.white_box{
    background-color: white;
    margin: 0px auto;
    padding: 40px;
    width: 75%;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
}

.content_box{
    justify-content: center; 
}

.form_container{
    display: flex;
    justify-content: space-evenly;
}

.header{
    text-align: center;
}

.left_col, .right_col{
    margin: 10px;
    width: 75%;
}

.text-boxes{
    display: flex;
    justify-content: space-evenly;
}

.text-box{
    margin: -10px 20px 0px 30px;
    width: 100%;
}

.center_text{
    text-align: center;
}

.content_box{
    color: white;
    text-align: center;
    padding: 40px;
}


.sighting_header{
    font-size: 40pt;
}

.sighting_date_time_box{
    display: flex;
    justify-content: center;
}

.sighting_text{
    text-align: left;
}

.comment_btn{
    display: block;
    background-color: aqua;
    border-color:aqua;
    color: black; 
}

.comment_btn:hover{
    color:white;
    background-color: green;
    border-color: green;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.comment_section{
    overflow-y: auto;
    max-height: 35vh;
}